@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--background: #171717;
	--foreground: #ededed;
	--accent1: #ff0040;
	--accent2: #444444;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Inter', sans-serif;
}

a {
	color: var(--accent1);
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}